In [1]:
import pandas as pd

In [2]:
df = pd.DataFrame({
    "Name": ["Alice", "Bob", "Charlie", "David"],
    "Salary": [50000, 60000, 70000, 80000]
})

In [3]:
def add_bonus(salary):
    return salary * 1.1

In [4]:
df["Salary_with_Bonus"] = df["Salary"].apply(add_bonus)
print(df)

      Name  Salary  Salary_with_Bonus
0    Alice   50000            55000.0
1      Bob   60000            66000.0
2  Charlie   70000            77000.0
3    David   80000            88000.0

In [5]:
# Function to categorize salary
df["Salary_Category"] = df.apply(lambda row: "High" if row["Salary"] > 60000 else "Low", axis=1)
print(df)

      Name  Salary  Salary_with_Bonus Salary_Category
0    Alice   50000            55000.0             Low
1      Bob   60000            66000.0             Low
2  Charlie   70000            77000.0            High
3    David   80000            88000.0            High

In [6]:
df["Salary_in_Lakhs"] = df["Salary"].map(lambda x:x/100000)
print(df)
#map() only works on a single column, not on multiple columns.

      Name  Salary  Salary_with_Bonus Salary_Category  Salary_in_Lakhs
0    Alice   50000            55000.0             Low              0.5
1      Bob   60000            66000.0             Low              0.6
2  Charlie   70000            77000.0            High              0.7
3    David   80000            88000.0            High              0.8

In [7]:
df[["Name"]] = df[["Name"]].applymap(str.upper)
print(df)

      Name  Salary  Salary_with_Bonus Salary_Category  Salary_in_Lakhs
0    ALICE   50000            55000.0             Low              0.5
1      BOB   60000            66000.0             Low              0.6
2  CHARLIE   70000            77000.0            High              0.7
3    DAVID   80000            88000.0            High              0.8

C:\Users\ajays\AppData\Local\Temp\ipykernel_20212\616739859.py:1: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  df[["Name"]] = df[["Name"]].applymap(str.upper)

In [8]:
df = pd.DataFrame({
    "Department": ["IT", "IT", "HR", "HR"],
    "Salary": [50000, 60000, 70000, 80000]
})

In [9]:
df["Salary_Adjusted"] = df.groupby("Department")["Salary"].transform(lambda x: x - x.mean())
print(df)

  Department  Salary  Salary_Adjusted
0         IT   50000          -5000.0
1         IT   60000           5000.0
2         HR   70000          -5000.0
3         HR   80000           5000.0

In [10]:
def calculate_tax(salary, tax_rate):
    return salary - (salary * tax_rate)
df["Salary_After_Tax"] = df["Salary"].apply(calculate_tax, tax_rate=0.1)
print(df)

  Department  Salary  Salary_Adjusted  Salary_After_Tax
0         IT   50000          -5000.0           45000.0
1         IT   60000           5000.0           54000.0
2         HR   70000          -5000.0           63000.0
3         HR   80000           5000.0           72000.0

In [ ]:
# apply()	   Columns/Rows	      Complex transformations
# map()	       Single column	  Element-wise changes
# applymap()   Entire DataFrame	  Apply function to all elements
# transform()  Grouped Data	      Group-wise calculations, keeps shape