In [1]:
import pandas as pd

In [2]:
data = {
    "Department": ["HR", "IT", "IT", "HR", "Finance", "Finance", "IT"],
    "Employee": ["Alice", "Bob", "Charlie", "David", "Eve", "Frank", "Grace"],
    "Salary": [50000, 60000, 70000, 52000, 75000, 78000, 72000]
}

df = pd.DataFrame(data)

In [3]:
print(df.groupby("Department")["Salary"].mean())

Department
Finance    76500.000000
HR         51000.000000
IT         67333.333333
Name: Salary, dtype: float64

In [4]:
df.groupby("Department")["Salary"].agg(["mean","sum","max","min"])

                    mean     sum    max    min
Department
Finance     76500.000000  153000  78000  75000
HR          51000.000000  102000  52000  50000
IT          67333.333333  202000  72000  60000

In [5]:
df.groupby(["Department","Employee"])["Salary"].sum()

Department  Employee
Finance     Eve         75000
            Frank       78000
HR          Alice       50000
            David       52000
IT          Bob         60000
            Charlie     70000
            Grace       72000
Name: Salary, dtype: int64

In [6]:
df.groupby("Department").filter(lambda x: x["Salary"].mean()>60000)

  Department Employee  Salary
1         IT      Bob   60000
2         IT  Charlie   70000
4    Finance      Eve   75000
5    Finance    Frank   78000
6         IT    Grace   72000

In [7]:
df.groupby("Department")["Salary"].apply(lambda x:x.max()-x.min())

Department
Finance     3000
HR          2000
IT         12000
Name: Salary, dtype: int64

In [8]:
df = pd.DataFrame({
    "Name": ["Alice", "Bob", "Charlie", "David"],
    "Salary": [50000, 60000, 70000, 80000]
})

In [9]:
def add_bonus(Salary):
    return Salary*1.1

In [11]:
df["Salary_with_Bonus"] = df["Salary"].apply(add_bonus)
print(df)

      Name  Salary  Salary_with_Bonus
0    Alice   50000            55000.0
1      Bob   60000            66000.0
2  Charlie   70000            77000.0
3    David   80000            88000.0

In [12]:
df["Salary_Category"] = df["Salary"].apply(lambda x: "High" if x > 60000 else "Low")

print(df)

      Name  Salary  Salary_with_Bonus Salary_Category
0    Alice   50000            55000.0             Low
1      Bob   60000            66000.0             Low
2  Charlie   70000            77000.0            High
3    David   80000            88000.0            High

In [13]:
df["Salary_in_Lakhs"] = df["Salary"].map(lambda x: x / 100000)
print(df)

      Name  Salary  Salary_with_Bonus Salary_Category  Salary_in_Lakhs
0    Alice   50000            55000.0             Low              0.5
1      Bob   60000            66000.0             Low              0.6
2  Charlie   70000            77000.0            High              0.7
3    David   80000            88000.0            High              0.8

In [14]:
df[["Name"]] = df[["Name"]].applymap(str.upper)
print(df)

      Name  Salary  Salary_with_Bonus Salary_Category  Salary_in_Lakhs
0    ALICE   50000            55000.0             Low              0.5
1      BOB   60000            66000.0             Low              0.6
2  CHARLIE   70000            77000.0            High              0.7
3    DAVID   80000            88000.0            High              0.8

C:\Users\ajays\AppData\Local\Temp\ipykernel_18188\616739859.py:1: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  df[["Name"]] = df[["Name"]].applymap(str.upper)

In [21]:
df["Salary_Adjusted"] = df.groupby("Name")["Salary"].transform(lambda x: x - x.mean())

print(df)

      Name  Salary  Salary_with_Bonus Salary_Category  Salary_in_Lakhs  \
0    ALICE   50000            55000.0             Low              0.5
1      BOB   60000            66000.0             Low              0.6
2  CHARLIE   70000            77000.0            High              0.7
3    DAVID   80000            88000.0            High              0.8

   Salary_Adjusted
0              0.0
1              0.0
2              0.0
3              0.0

In [ ]:
apply()	     Columns/Rows	    Complex transformations
map()	     Single column	    Element-wise changes
applymap()	 Entire DataFrame	Apply function to all elements
transform()	 Grouped Data	    Group-wise calculations, keeps shape