In [1]:
import pandas as pd

In [2]:
df1 = pd.DataFrame({"ID": [1, 2], "Name": ["Alice", "Bob"]})
df2 = pd.DataFrame({"ID": [3, 4], "Name": ["Charlie", "David"]})

In [3]:
# Concatenating (stacking rows)
df_concat = pd.concat([df1, df2], ignore_index=True)

print(df_concat)

   ID     Name
0   1    Alice
1   2      Bob
2   3  Charlie
3   4    David

In [5]:
df3 = pd.DataFrame({"Age": [25, 30]})
df_concat_col = pd.concat([df1,df3],axis=1)
print(df_concat_col)

   ID   Name  Age
0   1  Alice   25
1   2    Bob   30

In [6]:
df1 = pd.DataFrame({"ID": [1, 2, 3], "Name": ["Alice", "Bob", "Charlie"]})
df2 = pd.DataFrame({"ID": [2, 3, 4], "Salary": [60000, 70000, 80000]})

In [7]:
df_merge = pd.merge(df1,df2,on = "ID",how="inner")
print(df_merge)
# how="inner" keeps only matching rows.

   ID     Name  Salary
0   2      Bob   60000
1   3  Charlie   70000

In [8]:
df_merge_left = pd.merge(df1, df2, on="ID", how="left")
print(df_merge_left)
# how="left" keeps all rows from df1 and fills missing values (NaN) if no match is found in df2.

   ID     Name   Salary
0   1    Alice      NaN
1   2      Bob  60000.0
2   3  Charlie  70000.0

In [9]:
df_merge_right = pd.merge(df1, df2, on="ID", how="right")
print(df_merge_right)

   ID     Name  Salary
0   2      Bob   60000
1   3  Charlie   70000
2   4      NaN   80000

In [ ]:
# how="right" keeps all rows from df2, and missing values are filled in df1.

In [10]:
df_merge_outer = pd.merge(df1, df2, on="ID", how="outer")
print(df_merge_outer)
# how="outer" keeps all records from both DataFrames.

   ID     Name   Salary
0   1    Alice      NaN
1   2      Bob  60000.0
2   3  Charlie  70000.0
3   4      NaN  80000.0

In [11]:
df1 = pd.DataFrame({"Name": ["Alice", "Bob", "Charlie"]}, index=[1, 2, 3])
df2 = pd.DataFrame({"Salary": [50000, 60000, 70000]}, index=[1, 2, 3])

In [12]:
df_joined = df1.join(df2)
print(df_joined)

      Name  Salary
1    Alice   50000
2      Bob   60000
3  Charlie   70000

In [ ]:
# concat()	Rows/Columns	Index-based	    Stacking DataFrames
# merge()	Common Columns	Column-based	SQL-style joins
# join()	Index	        Index-based	    Merging on index